footer.pie 
    .pie__logo 
        img(src='/img/logo.png', alt='Logo de la empresa LKS Cars')
    ul.pie__navegacion 
        li: a(href='#') About us
        li: a(href='#') Download apps
        li: a(href='#') Careers
        li: a(href='#') Contact 
    p.pie__copyright &copy; by Ivan del Rio.