header.encabezado 
    nav.navegacion.navegacion--vehiculos 
        a.navegacion__enlace(href='/') Todos los vehículos
    .encabezado__logo 
        img(src='/img/logo.png', alt='Logo de la empresa LKS Cars')
    nav.navegacion.nombre-usuario-header
        if user 
            a.navegacion__enlace.btn-logout Cerrar sesión
            a.navegacion__enlace(href='/me') 
                img.imagen-usuario-header(src=`/img/users/${user.photo ? user.photo : 'imagen-defecto.jpg'}`, alt='Imagen de usuario')
                span= user.name.split(' ')[0]
        else
            a.navegacion__enlace(href='/login') Iniciar sesión
            a.navegacion__boton--principal(href='/signup') Registrarse

