header.encabezado 
    nav.navegacion.navegacion--vehiculos 
        a.navegacion__enlace(href='/') Todos los vehículos
    .encabezado__logo 
        img(src='/img/logo.png', alt='Logo de la empresa LKS Cars')
    nav.navegacion.navegacion--usuario
        //a.navegacion__enlace(href='#') Mis vehículos favoritos
        //a.navegacion__enlace(href='#')
        //    img.navegacion__imagen-usuario(src='img/user.png', alt='Imagen de usuario')
        //    span Ivan 
        button.navegacion__enlace Iniciar sesión
        button.navegacion__boton--principal Registrarse