doctype html
html 
    head 
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet' href='/css/style.css')
        link(rel='shortcut icon' type='image/png' href='/img/logo.png')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
        title= title || 'LKS Cars'  

    body
        include _header.pug
        
        // CONTENIDO 
        block content
            h1 Este es el base
        
        include _footer.pug

        script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.9.0/axios.min.js')
        script(type='module' src='/js/login.js')
        script(type='module' src='/js/alerts.js')
        script(type='module' src='/js/updateSettings.js')
        script(type='module' src='/js/adminCars.js')
        script(type='module' src='/js/reserveCar.js')
        script(type='module' src='/js/favorites.js')
        script(src='https://js.stripe.com/v3/')
        script(type='module' src='/js/stripe.js')
