extends base 

block content 
    main.vista-login 
        .form-login 
            h2.titulo-form-login Login 
            form.form
                div 
                    label.form-label(for='email') Email 
                    input#email.form-input(type='email', placeholder='you@example.com', required)
                div
                    label.form-label(for='password') Password 
                    input#password.form-input(type='password', placeholder='********', required, minLength='8')
                div  
                    button.btn.btn-rojo Iniciar sesión

                    